Source: nose-focus
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-nose,
               python-nose-of-yeti,
               python-nose-pattern-exclude,
               python-setuptools,           
               python-six,
               python3-all,
               python3-nose,
               python3-nose-of-yeti,
               python3-nose-pattern-exclude,
               python3-setuptools,
               python3-six
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.4
Homepage: https://github.com/delfick/nose-focus
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-nose-focus.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-nose-focus.git

Package: python-nose-focus
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-six
Description: Python module to provide a Decorator and plugin to make nose focus on specific tests
 Decorator and plugin to make nose focus on specific tests.
 .
 This package installs the library for Python 2.

Package: python3-nose-focus
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-six
Description: Python module to provide a Decorator and plugin to make nose focus on specific tests
 Decorator and plugin to make nose focus on specific tests.
 .
 This package installs the library for Python 3.
