#!/usr/bin/make -f
export PYBUILD_NAME=nose-focus

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	# No tests provided with the package

override_dh_clean:
	rm -rf nose_focus.egg-info
	dh_clean
