Source: preggy
Maintainer: Marcelo Jorge Vieira <metal@debian.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-coverage,
               python-nose,
               python-setuptools,
               python-six,
               python-tox,
               python-unidecode
Standards-Version: 3.9.8
Homepage: http://heynemann.github.io/preggy
Vcs-Browser: http://anonscm.debian.org/cgit/users/metal/preggy.git
Vcs-Git: git://anonscm.debian.org/users/metal/preggy.git
X-Python-Version: >= 2.6

Package: python-preggy
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-six, python-unidecode
Description: Assertion library for Python
 Collection of expectations for python applications, extracted from
 the pyVows project.
