Package: remotecv
Version: 2.2.1-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 6220
Depends: python (>= 2.7) | python-argparse, python-pil (>= 3.0), python-pyres (>= 1.2), python:any (<< 2.8), python:any (>= 2.7.5-5~), python-opencv
Section: python
Priority: optional
Homepage: https://github.com/thumbor/remotecv
Description: Python module providing an OpenCV server for facial and feature recognition
 OpenCV server for facial and feature recognition.
