Package: python3-flask-login
Source: flask-login
Version: 0.3.2-1
Architecture: all
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 78
Depends: python3-flask, python3:any (>= 3.3.2-2~)
Section: python
Priority: optional
Homepage: https://flask-login.readthedocs.org/
Description: user session management for Flask
 Flask-Login provides user session management for Flask. It handles the
 common tasks of logging in, logging out, and remembering your users'
 sessions over extended periods of time.
 .
 Flask-Login is not bound to any particular database system or permissions
 model. The only requirement is that your user objects implement a few
 methods, and that you provide a callback to the extension capable of
 loading users from their ID.
 .
 This package installs the library for Python 3.
