Source: nose-of-yeti
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               pylint,
               pylint3,
               python-all,
               python-fudge,
               python-nose,
               python-setuptools,
               python-should-dsl,
               python-six,
               python3-all,
               python3-fudge,
               python3-nose,
               python3-setuptools,
               python3-should-dsl,
               python3-six
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/delfick/nose-of-yeti
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-nose-of-yeti.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-nose-of-yeti.git

Package: python-nose-of-yeti
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-six
Description: Python module to provide a BDD DSL for python tests
 Provides a BDD DSL for python tests.
 .
 This package installs the library for Python 2.

Package: python3-nose-of-yeti
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-six
Description: Python module to provide a BDD DSL for python tests
 Provides a BDD DSL for python tests.
 .
 This package installs the library for Python 3.
