#!/usr/bin/make -f
export PYBUILD_NAME=pyres
export PYBUILD_TEST_NOSE=1
export PYBUILD_BEFORE_TEST=redis-server --port 6668 --requirepass hey_you > /dev/null &
export PYBUILD_AFTER_TEST=redis-cli -p 6668 -a hey_you shutdown
export PYBUILD_TEST_ARGS=-s
export LC_ALL=C.UTF-8

%:
	dh $@ --with python2,systemd --buildsystem=pybuild

override_dh_clean:
	rm -rf thumbor.egg-info
	redis-cli -p 6668 -a hey_you shutdown || true
	dh_clean

override_dh_installinit:
	dh_installinit --name=thumbor --noscripts

override_dh_auto_install:
	dh_auto_install $@
	PYTHONPATH=$(CURDIR)/debian/thumbor/usr/lib/python2.7/dist-packages/ \
	    $(CURDIR)/debian/thumbor/usr/bin/thumbor-config > \
	    $(CURDIR)/debian/thumbor/etc/thumbor.d/00-default.conf
