[Unit]
Description=Thumbor image manipulation service

[Service]
Type=simple
ExecStart=/usr/bin/thumbor -k /etc/thumbor.key
User=thumbor

[Install]
WantedBy=default.target

