Source: flask-login
Maintainer: Tonnerre LOMBARD <tonnerre@ancient-solutions.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               python-all,
               python-flask,
               python-setuptools,
               python3-all,
               python3-flask,
               python3-setuptools
Standards-Version: 3.9.8

Package: python-flask-login
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-flask
Description: user session management for Flask
 Flask-Login provides user session management for Flask. It handles the
 common tasks of logging in, logging out, and remembering your users'
 sessions over extended periods of time.
 .
 Flask-Login is not bound to any particular database system or permissions
 model. The only requirement is that your user objects implement a few
 methods, and that you provide a callback to the extension capable of
 loading users from their ID.
 .
 This package installs the library for Python 2.
Homepage: https://flask-login.readthedocs.org/

Package: python3-flask-login
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-flask
Description: user session management for Flask
 Flask-Login provides user session management for Flask. It handles the
 common tasks of logging in, logging out, and remembering your users'
 sessions over extended periods of time.
 .
 Flask-Login is not bound to any particular database system or permissions
 model. The only requirement is that your user objects implement a few
 methods, and that you provide a callback to the extension capable of
 loading users from their ID.
 .
 This package installs the library for Python 3.
Homepage: https://flask-login.readthedocs.org/
