[Unit]
Description=Resweb, web interface to pyres jobs
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/resweb
User=resweb

[Install]
WantedBy=default.target
