Source: pyres
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 8),
               dh-python,
               dh-systemd (>= 1.5),
               python-all,
               python-pytest,
               python-redis,
               python-setproctitle,
               python-setuptools,
               python-simplejson,
               redis-server
X-Python-Version: >= 2.7
Homepage: https://github.com/binarydud/pyres
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/pyres.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/pyres.git

Package: pyres
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, python-redis, python-setproctitle
Description: Python module to provide a Resque-like job queue
 Pyres - a Resque clone
 .
 Resque is a great implementation of a job queue by the people at
 github. It's written in ruby, which is great, but I primarily work in
 python. So I took on the task of porting over the code to python and
 PyRes was the result
 .
 Project Goals
 .
 Because of some differences between ruby and python, there are a
 couple of places where I chose speed over correctness. The goal will
 be to eventually take the application and make it more pythonic
 without sacrificing the awesome functionality found in resque. At the
 same time, I hope to stay within the bounds of the original api and
 web interface.
