Source: pyres
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 8),
               dh-python,
               python-all,
               python-pytest,
               python-redis,
               python-setproctitle,
               python-setuptools,
               python-simplejson,
               redis-server
X-Python-Version: >= 2.7
Homepage: https://github.com/binarydud/pyres
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/pyres.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/pyres.git

Package: pyres
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-simplejson, python-redis, python-setproctitle
Description: Python module to provide a Resque-like job queue
 Provides a Resque-like job queue for your app.
