[Unit]
Description=Pyres, a resque clone in python, worker for queue %I
Requires=redis-server.service
After=redis-server.service

[Service]
Type=simple
ExecStart=/usr/bin/pyres_worker %i
User=pyres

[Install]
WantedBy=default.target
