Source: should-dsl
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools,
               python3-all,
               python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/nsi-iff/should-dsl
Vcs-Git: git://github.com/nsi-iff/should-dsl.git
Vcs-Browser: https://github.com/nsi-iff/should-dsl

Package: python-should-dsl
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python module to improve readability for should-style expectations
 Improves readability for should-style expectations.
 .
 This package installs the library for Python 2.

Package: python3-should-dsl
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python module to improve readability for should-style expectations
 Improves readability for should-style expectations.
 . 
 This package installs the library for Python 3.
