Package: python-preggy
Source: preggy
Version: 1.3.0-1
Architecture: all
Maintainer: Marcelo Jorge Vieira <metal@debian.org>
Installed-Size: 103
Depends: python-six, python-unidecode, python:any (<< 2.8), python:any (>= 2.7.5-5~)
Section: python
Priority: optional
Homepage: http://heynemann.github.io/preggy
Description: Assertion library for Python
 Collection of expectations for python applications, extracted from
 the pyVows project.
 .
 This package installs the library for Python 2.
