Source: dask
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-cloudpickle (>= 0.2.1),
               python-numpy,
               python-partd (>= 0.3.3),
               python-pytest,
               python-setuptools,
               python-toolz (>= 0.7.2),
               python3-all,
               python3-cloudpickle (>= 0.2.1),
               python3-numpy,
               python3-partd (>= 0.3.3),
               python3-pytest,
               python3-setuptools,
               python3-toolz (>= 0.7.2)
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3
Homepage: https://github.com/dask/dask
Vcs-Git: git://github.com/dask/dask.git
Vcs-Browser: https://github.com/dask/dask

Package: python-dask
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy, python-toolz (>= 0.7.2), python-cloudpickle (>= 0.2.1), python-partd (>= 0.3.3)
Description: Python module providing a flexible parallel computing library for analytics
 Flexible parallel computing library for analytics.
 .
 This package installs the library for Python 2.

Package: python3-dask
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-numpy, python3-toolz (>= 0.7.2), python3-cloudpickle (>= 0.2.1), python3-partd (>= 0.3.3)
Description: Python module providing a flexible parallel computing library for analytics
 Flexible parallel computing library for analytics.
 .
 This package installs the library for Python 3.
