#!/usr/bin/make -f
export PYBUILD_NAME=dask
export PYBUILD_TEST_PYTEST=1
export PYBUILD_TEST_ARGS=dask

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_clean:
	rm -rf dask.egg-info .cache log tst.h5
	dh_clean
