Source: partd
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-locket,
               python-numpy (>= 1.9.0),
               python-pandas,
               python-pytest,
               python-setuptools,
               python-toolz,
               python3-all,
               python3-locket,
               python3-numpy (>= 1.9.0),
               python3-pandas,
               python3-pytest,
               python3-setuptools,
               python3-toolz
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3
Homepage: https://github.com/dask/partd
Vcs-Git: git://github.com/dask/partd.git
Vcs-Browser: https://github.com/dask/partd

Package: python-partd
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-numpy (>= 1.9.0), python-pandas
Description: Python module to provide a key-value byte store with appendable values
 Key-value byte store with appendable values.
 .
 This is the Python 2 library version.

Package: python3-partd
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3-numpy (>= 1.9.0), python3-pandas
Description: Python module to provide a key-value byte store with appendable values
 Key-value byte store with appendable values.
 .
 This is the Python 3 library version.
