#!/usr/bin/make -f
export PYBUILD_NAME=partd
export PYBUILD_TEST_PYTEST=1
export PYBUILD_BEFORE_TEST=cp -R {dir}/partd/tests {build_dir}/partd/
export PYBUILD_AFTER_TEST=rm -fR {build_dir}/partd/tests
export PYBUILD_TEST_ARGS=partd

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_clean:
	rm -rf partd.egg-info .cache log
	dh_clean
