Package: thumbor
Version: 6.3.3rc+git20170815-1
Architecture: amd64
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Installed-Size: 7278
Depends: init-system-helpers (>= 1.18~), python (<< 2.8), python-argparse, python (>= 2.7~), python-concurrent.futures, python-crypto (>= 2.1.0), python-derpconf (>= 0.2.0), python-imaging, python-libthumbor, python-pexif (>= 0.15), python-pycurl, python-schedule, python-statsd (>= 3.0.1), python-tornado (>= 4.1.0), python-tz, python-webcolors, python:any (>= 2.7.5-5~), libc6 (>= 2.14), python-cairosvg, python-pil (>= 3.0.0)
Section: python
Priority: optional
Homepage: https://github.com/thumbor/thumbor
Description: Photo thumbnail service
 Thumbor is a smart imaging service. It enables on-demand crop, resizing
 and flipping of images.
