Source: itty
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-setuptools
X-Python-Version: >= 2.6
Homepage: https://github.com/toastdriven/itty
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-itty.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-itty.git

Package: python-itty
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: the itty-bitty python web framework
 Sinatra influenced micro-framework that does just enough to be useful
 and nothing more.
 .
 Currently supports:
 .
 Routing
 Basic responses
 Content-types
 HTTP Status codes
 URL Parameters
 Basic GET/POST/PUT/DELETE support
 User-definable error handlers
 Redirect support
 File uploads
 Header support
 Static media serving
 .
