Source: nose-pattern-exclude
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-nose,
               python-setuptools,
               python3-all,
               python3-nose,
               python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/jkbrzt/nose-pattern-exclude
Vcs-Git: https://anonscm.debian.org/git/python-modules/packages/python-nose-pattern-exclude.git
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/python-nose-pattern-exclude.git

Package: python-nose-pattern-exclude
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-nose
Description: Python module to exclude directories and paths from nose test by path or glob pattern
 Provides a way to exclude directories and paths from nose test by path or glob pattern.
 .
 This package installs the library for Python 2.

Package: python3-nose-pattern-exclude
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python3-nose
Description: Python module to exclude directories and paths from nose test by path or glob pattern
 Provides a way to exclude directories and paths from nose test by path or glob pattern.
 .
 This package installs the library for Python 3.
