#!/usr/bin/make -f
export PYBUILD_NAME=nose-pattern-exclude

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

override_dh_auto_test:
	# Package doesn't include any tests

override_dh_clean:
	rm -rf nose_pattern_exclude.egg-info
	dh_clean
