Source: libthumbor
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python (>= 2.20150826),
               flake8,
               python-all,
               python-coverage,
               python-flake8,
               python-mock,
               python-nose,
               python-preggy,
               python-setuptools,
               python-six,
               python3-all,
               python3-coverage,
               python3-flake8,
               python3-mock,
               python3-nose,
               python3-preggy,
               python3-setuptools,
               python3-six
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/thumbor/libthumbor
Vcs-Git: git://github.com/thumbor/libthumbor.git
Vcs-Browser: https://github.com/thumbor/libthumbor

Package: python-libthumbor
Architecture: all
Depends: python-pkg-resources, ${misc:Depends}, ${python:Depends}, python-six
Description: Python module to make usage of Thumbor easy in Python
 Allows easy usage of Thumbor in Python.
 .
 This is the Python 2 library version.

Package: python3-libthumbor
Architecture: all
Depends: python3-pkg-resources, ${misc:Depends}, ${python3:Depends}, python3-six
Description: Python module to make usage of Thumbor easy in Python
 Allows easy usage of Thumbor in Python.
 .
 This is the Python 3 library version.
