Source: toolz
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-pytest,
               python-setuptools,
               python3-all,
               python3-pytest,
               python3-setuptools
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.3
Homepage: https://github.com/pytoolz/toolz
Vcs-Git: git://github.com/pytoolz/toolz.git
Vcs-Browser: https://github.com/pytoolz/toolz

Package: python-toolz
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python module to provide a set of utility functions for iterators, functions, and dictionaries
 A set of utility functions for iterators, functions, and dictionaries.
 .
 This is the Python 2 library version.

Package: python3-toolz
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python module to provide a set of utility functions for iterators, functions, and dictionaries
 A set of utility functions for iterators, functions, and dictionaries.
 .
 This is the Python 3 library version.

