Source: locket
Maintainer: Gilles Dubuc <gilles@wikimedia.org>
Section: python
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9),
               dh-python,
               python-all,
               python-nose (>= 1.2.1),
               python-pytest,
               python-setuptools,
               python-spur,
               python3-all,
               python3-nose (>= 1.2.1),
               python3-pytest,
               python3-setuptools,
               python3-spur
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2
Homepage: https://github.com/mwilliamson/locket.py
Vcs-Git: git://github.com/mwilliamson/locket.py.git
Vcs-Browser: https://github.com/mwilliamson/locket.py

Package: python-locket
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Python module to provide a lock that can be used by multiple processes provided they use the same path
 Implements a lock that can be used by multiple processes provided they use the same path.
 .
 This is the Python 2 library version.

Package: python3-locket
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Python module to provide a lock that can be used by multiple processes provided they use the same path
 Implements a lock that can be used by multiple processes provided they use the same path.
 .
 This is the Python 3 library version.
